
h1 {
    font-size: 50px;
    color: aqua;
}

.languagesBtnsContainer {
  display: flex; 
  align-items: center;
}

.languagesBtnsContainer * {
  margin: 10px; 
  font-size: 20px; 
  border-radius: 16px;
}


