
.card-container {
  border-radius: 25px; 

  width: 250px; 
  height: 100px; 

  margin: 0.5em;
  padding: 0.5em; 

  box-shadow: inset var(--color-card01) 4px 4px 50px; 

  display: flex; 
  flex-direction: column; 
  justify-content: space-around;

  font-size: 10px; 
}

.card-container h2 { 
  margin: 0 auto; 
}

.card-container .card-btnsContainer {
  display: flex; 
  justify-content: center; 
}

.light-card {
  color: var(--color-base01); 
  background: var(--color-base02); 
}

.dark-card {
  color: var(--color-base02); 
  background: var(--color-base01) ; 
}
