
.modalContent {  
  border-radius: 24px; 
  width: inherit; 
  height: inherit; 
}

.modalContent p {
  font-size: 36px; 
  font-weight: 500; 
  padding: 10px; 
  background: rgba(0,255,255,0.5) ; 
  border-radius: 24px; 
}

.modalContent button {
  font-family: "euphoria"; 
  font-size: 26px; 
  padding: 8px; 
  background: rgba(0,255,255,0.5) ; 
  border-radius: 24px; 
  border: none; 

  transition: all 0.3s ease-in-out ; 
}

.modalContent button:hover {
  cursor: pointer; 
  box-shadow: white 0 0 28px; 
  border: solid white 1px; 
}

