
.ftContainer {  
  border-radius: 24px; 
  width: inherit; 
  height: inherit; 

  display: flex; 
  flex-direction: column;
  align-items: center;

  gap: 30px; 
}

.ftResultBtn {
  font-family: "euphoria"; 
  font-size: 26px; 
  padding: 8px; 
  background: rgba(25, 120, 120, 0.7) ; 
  border-radius: 24px; 
  border: none; 

  transition: box-shadow 0.3s ease-in-out , opacity 3s ; 
}

.ftResultBtn:hover {
  cursor: pointer; 
  box-shadow: white 0 0 28px; 
  border: solid white 1px; 
} 

.ftTextContainer {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 0 20px; 
  background: rgba(25, 120, 120, 0.7) ; 

  border-radius: 24px; 
  width: 600px; 
  height: 150px; 
  transition: all 3s ; 
}

.ftTextContainer p {
  font-size: 32px;
  text-align: center;

  transition: opacity 3s ; 
  transform-origin:center;
}

@media (max-width: 480px) {
  .ftResultBtn:active {
    box-shadow: white 0 0 28px; 
    border: solid white 1px; 
  } 
}

@media (max-width: 767px) {
  .ftTextContainer {
    max-width: fit-content;
  }
}
