
.light {
  color: var(--color-base01); 
  background: var(--color-base02); 
}

.dark {
  color: var(--color-base02); 
  background: var(--color-base01); 
}

.app {
  padding: 2rem; 
}

.cards-container {
  display: flex; 
}

@media (prefers-color-scheme: dark) {
  body { 
    color: var(--color-base02); 
    background: var(--color-base01); 
  }
}

@media (max-width: 480px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}