@font-face {
  font-family: "pixel";
  src: url("./assets/fonts/pixel.ttf");
}

@font-face {
  font-family: "euphoria";
  src: url("./assets/fonts/euphoria.ttf");
}

body {
  margin: 6px; 
}

* {
  color: white;
  font-family: "pixel";
  font-size: 12px;
}

