body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'pixel' ,
    'Ubuntu', 'Arial' , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: black;
  background-image: url("../public/images/pacman.gif");

  background-repeat: repeat-y;
  background-position-x: right;

  background-size: 50px;
}
